:root {
    --gui-form-invalid-color: #ca5b4e;
    --gui-form-invalid-border-color: #3a4048;
}

.form-control,
.form-select {
    &:focus {
        box-shadow: none !important;
    }

    &.is-invalid {
        background-color: rgba(255, 0, 0, .1);
    }
}