@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-only($breakpoint) {
        .hidden-#{$breakpoint} {
            display: none !important;
        }
    }
}

@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        .hidden-from-#{$breakpoint} {
            display: none !important;
        }
    }
}

@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-down($breakpoint) {
        .hidden-to-#{$breakpoint} {
            display: none !important;
        }
    }
}