@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-only($breakpoint) {
        .transparent-#{$breakpoint} {
            opacity: 0 !important;
        }
    }
}

@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        .transparent-from-#{$breakpoint} {
            opacity: 0 !important;
        }
    }
}

@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-down($breakpoint) {
        .transparent-to-#{$breakpoint} {
            opacity: 0 !important;
        }
    }
}