.form-spin {
    .input-group-text {
        padding: 0;

        .btn-group-vertical {
            height: calc(100% + (var(--#{$prefix}border-width) * 2));
            margin: 0 calc(var(--#{$prefix}border-width) * -1);

            a {
                --#{$prefix}btn-icon-size: .825rem;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;

                .icon {
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
    }
}

