.gui-password-generator-template {
    display: none;
}

.gui-password-generator {
    display: flex;
    flex-direction: column;
    gap: var(--#{$prefix}spacer-1);

    .measure,
    .password-display {
        text-align: center;
        font-weight: bold;
        height: 2.5rem;
        @extend .font-monospace;
    }

    .measure {
        position: absolute;
        white-space: nowrap;
    }

    .password-display {
        cursor: pointer;
        color: var(--#{$prefix}body-color);
    }

    .password-size {
        display: flex;
        align-items: center;
        gap: var(--#{$prefix}spacer-2);
    }

    .control {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--#{$prefix}popover-body-padding-y);
    }
}

.popover.password-generator {
    --#{$prefix}popover-max-width: auto;
}