.form-separator {
    padding: var(--#{$prefix}spacer) 0;
    align-items: center;
    gap: var(--#{$prefix}spacer-3);
    flex-direction: row;

    .separator-title {
        display: flex;
        font-weight: var(--#{$prefix}font-weight-bold);
    }

    .separator-help {
        color: var(--#{$prefix}secondary);
    }

    .icon {
        margin-left: var(--#{$prefix}spacer-3);
    }
}