form-group.layout-grid {
    --#{$prefix}form-group-border-top-width: #{$form-group-border-top-width};
    --#{$prefix}form-group-border-top-style: #{$form-group-border-top-style};
    --#{$prefix}form-group-border-top-color: #{$form-group-border-top-color};

    --#{$prefix}form-group-border-left-width: #{$form-group-border-left-width};
    --#{$prefix}form-group-border-left-style: #{$form-group-border-left-style};
    --#{$prefix}form-group-border-left-color: #{$form-group-border-left-color};

    --#{$prefix}form-hint-border-width: #{$form-hint-border-width};
    --#{$prefix}form-hint-border-style: #{$form-hint-border-style};
    --#{$prefix}form-hint-border-color: #{$form-hint-border-color};

    --#{$prefix}form-group-spacer-y: #{$grid-gutter-width * .5};
    --#{$prefix}form-group-spacer-x: #{$grid-gutter-width * .5};

    &+form-group {
        border-top: var(--#{$prefix}form-group-border-top-width) var(--#{$prefix}form-group-border-top-style) var(--#{$prefix}form-group-border-top-color);
    }

    .invalid-feedback + .form-hint {
        border-top: var(--#{$prefix}form-hint-border-width) var(--#{$prefix}form-hint-border-style) var(--#{$prefix}form-hint-border-color);
        margin-top: var(--#{$prefix}spacer-1);
        padding-top: var(--#{$prefix}spacer-1);
    }
}

.form-separator.layout-grid,
.form-separator.layout-grid + form-group.layout-grid {
    --#{$prefix}form-group-border-top-width: .125rem;
    --#{$prefix}form-group-border-top-style: dashed;
    --#{$prefix}form-group-border-top-color: var(--#{$prefix}border-color);
}

@each $breakpoint, $size in $grid-breakpoints {
    @include media-breakpoint-up($breakpoint){
        form[data-breakpoint="#{$breakpoint}"] form-group.layout-grid {
            --#{$prefix}form-group-label-margin: .438rem 0 .219rem 0;
            --#{$prefix}form-group-label-width: 14rem;
            --#{$prefix}form-group-label-text-align: right;

            flex-direction: row;

            .control-field {
                flex-grow: 1;
                padding-left: var(--#{$prefix}form-group-spacer-x);
                border-left: var(--#{$prefix}form-group-border-left-width) var(--#{$prefix}form-group-border-left-style) var(--#{$prefix}form-group-border-left-color);
            }

            .control-label {
                flex-shrink: 0;
                padding-right: calc(var(--#{$prefix}form-group-spacer-x) + .25rem);
            }
        }
    }

    @include media-breakpoint-down($breakpoint){
        form[data-breakpoint="#{$breakpoint}"] form-group.layout-grid {
            [data-size] {
                max-width: none;
            }
        }
    }
}