.input-group-text {
    background-color: var(--#{$prefix}bg-surface-tertiary);
}

.input-group-flat {
    &:focus-within {
        box-shadow: $input-focus-box-shadow;
        border-radius: $input-border-radius;

        .form-control,
        .input-group-text {
            border-color: $input-focus-border-color !important;
        }
    }

    .form-control {
        &:focus {
            border-color: $input-border-color;
            box-shadow: none;
        }

        &:not(:last-child) {
            border-right: 0;
        }

        &:not(:first-child) {
            border-left: 0;
        }
    }

    .input-group-text {
        display: flex;
        gap: var(--#{$prefix}spacer-2);
        background-color: var(--#{$prefix}bg-forms);
        user-select: none;

        &:first-child {
            padding-right: 0;
        }

        &:last-child {
            padding-left: 0;
        }

        &>a, &>button, &>label {
            user-select: none;
        }

        &>.icon {
            color: var(--#{$prefix}tertiary);
        }
    }
}

.has-error {
    .input-group-flat {
        &>.input-group-text,
        &>.form-control,
        &>.form-select {
            border-color: var(--#{$prefix}form-invalid-border-color) !important;
        }

        &:focus-within {
            box-shadow: 0 0 $input-btn-focus-blur $input-focus-width rgba($danger, $input-btn-focus-color-opacity);
        }
    }
}