@use 'sass:map';

@each $breakpoint in map.keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

        .sticky#{$infix}-top {
            position: sticky;
            top: 0;
        }

        .sticky#{$infix}-bottom {
            position: sticky;
            bottom: 0;
        }
    }
}