.link-underline {
    --#{$prefix}text-decoration: underline;
    --#{$prefix}text-decoration-hover: underline;
}

.link-underline-hover {
    --#{$prefix}text-decoration-hover: underline;

    &.show {
        --#{$prefix}text-decoration: underline;
    }
}

.link-underline-0 {
    --#{$prefix}text-decoration: none;
    --#{$prefix}text-decoration-hover: none;
}

@each $name, $value in $underline-styles {
    .text-underline-#{$name} {
        --#{$prefix}border-color: color-mix(in srgb, currentColor 50%, light-dark(#fff, #000));
        border-bottom: var(--#{$prefix}border-width) #{$value} var(--#{$prefix}border-color);
    }
}