@import "fa/fontawesome";
@import "fa/regular";
@import "fa/solid";
@import "fa/brands";

.fa-1\.25x {
    font-size: 1.25rem !important;
}

.fa-1\.5x {
    font-size: 1.5rem !important;
}

.fa-1\.75x {
    font-size: 1.75rem !important;
}