@each $state in map-keys($theme-colors) {
    .alert-#{$state} {
        --#{$prefix}alert-icon-bg: #{darken(map-get($theme-colors-bg-subtle, $state), 4%)};
    }
}

.alert {
    --#{$prefix}alert-icon-size: #{$gui-alert-icons-size};
    --#{$prefix}alert-icon-font: var(--#{$fa-css-prefix}-font-solid);

    padding: 0;
    display: flex;
    align-items: center;
    overflow: hidden;

    @each $name, $icon in $gui-alert-icons {
        &.alert-#{$name} .icon:before { content: fa-content(#{$icon}); }
    }

    &>.icon {
        font: var(--#{$prefix}alert-icon-font);
        font-size: var(--#{$prefix}alert-icon-size);
        border-right: var(--#{$prefix}alert-border);
        background-color: var(--#{$prefix}alert-icon-bg);
        text-align: center;
        align-self: stretch;
        align-items: center;
        display: flex;
        width: 2em;
        flex-shrink: 0;

        &:before {
            flex-grow: 1;
        }
    }

    &>.alert-content {
        flex-grow: 1;
        padding: var(--#{$prefix}alert-padding-y) var(--#{$prefix}alert-padding-x);

        p:last-of-type {
            margin-bottom: 0;
        }
    }

    &>.btn-close {
        margin-right: var(--#{$prefix}alert-padding-x);
        --#{$prefix}btn-close-color: inherit;
    }
}

.alert-link {
    text-decoration: underline;
}

.card + .gui-alert-container {
    &>.alert {
        margin-top: var(--#{$prefix}spacer);
    }
}