.btn-default {
    @include button-variant(
        $gui-panel-bg,
        $input-border-color,
        $body-color,
        $primary,
        darken($primary, 5%),
        $gui-text-white,
        shade-color($primary, $btn-hover-bg-shade-amount),
        darken($primary, 5%),
        $gui-text-white
    );
}

.btn-addon {
    @include button-variant(
        $input-group-addon-bg,
        $input-border-color,
        $input-color,
        $primary,
        $primary,
        color-contrast($primary),
        darken($primary, 10%),
        $input-border-color,
        color-contrast($primary),
        $input-group-addon-bg,
        if($input-disabled-border-color, $input-disabled-border-color, $input-border-color),
        transparentize($input-color, .50)
    );

    &.disabled {
        opacity: 1;
    }
}

.btn {
    overflow: hidden;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: $spacer * .5;
    text-decoration: none;

    &.btn-icon {
        --#{$prefix}btn-icon-size: #{$gui-btn-icon-size};

        i {
            text-align: center;
            line-height: 1.125rem;
        }

        &:not(.inline) {
            --#{$prefix}btn-padding-y: .5rem;
            line-height: 1em;
            min-width: 80px;
            flex-direction: column;
            gap: .5rem;
            padding-top: .75rem;

            i {
                font-size: var(--#{$prefix}btn-icon-size);
                line-height: 1em;
            }

            &.loading-active {
                .spinner-grow,
                .spinner-border {
                    --#{$prefix}spinner-width: #{$spinner-width * .75};
                    --#{$prefix}spinner-height: #{$spinner-height * .75};
                    --#{$prefix}spinner-border-width: #{$spinner-border-width};

                    margin: $spacer * .25 0;
                }
            }
        }
    }
}

.btn-grouped {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    gap: var(--#{$prefix}spacer);

    @include media-breakpoint-down('md'){
        display: flex;

        &>*{
            flex: 1 1 calc(50% - var(--#{$prefix}spacer));
        }
    }
}

.btn-close {
    --#{$prefix}btn-close-color: var(--#{$prefix}link-inverted-color);
    --#{$prefix}btn-close-hover-color: var(--#{$prefix}link-inverted-hover-color);
    --#{$prefix}btn-close-font-family: var(--#{$fa-css-prefix}-style-family-classic);
    --#{$prefix}btn-close-icon: '\e59b';
    --#{$prefix}btn-close-font-size: .75rem;
    --#{$prefix}btn-close-line-height: 1em;
    --#{$prefix}btn-close-font-weight: 900;

    background: none;
    font-family: var(--#{$prefix}btn-close-font-family);
    font-weight: var(--#{$prefix}btn-close-font-weight);
    font-size: var(--#{$prefix}btn-close-font-size);
    line-height: var(--#{$prefix}btn-close-line-height);
    color: var(--#{$prefix}btn-close-color);

    &:hover {
        cursor: pointer;
        color: var(--#{$prefix}btn-close-hover-color);
    }

    &:before {
        content: var(--#{$prefix}btn-close-icon);
    }
}