.card {
    --#{$prefix}card-cap-title-line-height: #{$card-cap-title-line-height};
    --#{$prefix}card-cap-title-font-weight: #{$card-cap-title-font-weight};
    --#{$prefix}card-cap-title-font-size:   #{$card-cap-title-font-size};
    --#{$prefix}card-inner-border-radius: calc(var(--#{$prefix}card-border-radius) - var(--#{$prefix}card-border-width));

    &.loading {
        @include content-loading('infinite', true, 8rem);
    }

    &.flyout {
        --#{$prefix}card-border-width: 0;
        @include box-shadow($box-shadow);
    }

    &.widget {
        .card-header {
            --#{$prefix}card-cap-padding-y: #{$card-cap-padding-y * 1.5};

            border-bottom-color: transparent;
            padding-bottom: 0;
        }
    }
}

.card-header {
    --#{$prefix}card-cap-bg: transparent;

    margin-left: var(--#{$prefix}card-cap-padding-x);
    margin-right: var(--#{$prefix}card-cap-padding-x);
    padding: calc(var(--#{$prefix}card-cap-padding-y) * .75) 0 calc(var(--#{$prefix}card-cap-padding-y) * .5) 0;
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    gap: $btn-padding-x;

    &.no-border {
        border-bottom-color: transparent !important;
    }

    &>.heading-control {
        .dropdown-menu {
            --#{$prefix}dropdown-spacer: calc(var(--#{$prefix}card-cap-padding-y) * .5);
        }
    }

    .vr {
        align-self: auto;
        height: 1rem;
    }
}

.card-title {
    margin: 0;
    color: var(--#{$prefix}featured-text-color);
    font-size: var(--#{$prefix}card-cap-title-font-size);
    line-height: var(--#{$prefix}card-cap-title-line-height);
    font-weight: var(--#{$prefix}card-cap-title-font-weight);
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &+* {
        flex-grow: 0;
        flex-shrink: 0;
    }
}

.card-separator {
    border-top: var(--#{$prefix}card-border-width) solid var(--#{$prefix}light-border-color);
    background-color: var(--#{$prefix}card-cap-bg);
    padding: var(--#{$prefix}card-cap-padding-y) var(--#{$prefix}card-cap-padding-x);
}

.card-header,
.card-footer {
    border-color: var(--#{$prefix}light-border-color);
}

.card + .card {
    margin-top: $grid-gutter-width * .5;
}