.gui-datatable {
    --#{$prefix}datatable-headers-responsive-color: #{$gui-datatable-responsive-headers-color};
    --#{$prefix}datatable-headers-color: #{to-rgb($gui-datatable-headers-color)};
    --#{$prefix}datatable-search-bg: #{$gui-datatable-search-bg};
    --#{$prefix}datatable-search-border-color: #{$gui-datatable-search-border-color};

    .table {
        --#{$prefix}table-header-border-color: var(--#{$prefix}datatable-search-border-color);
    }
}

.table {
    margin-bottom: 0;

    thead {
        tr {
            th {
                padding: ($table-cell-padding-y * .5) $table-cell-padding-x;

                .sorting-inactive {
                    color: var(--#{$prefix}datatable-headers-color);
                }

                .sorting-waiting,
                .sorting-desc,
                .sorting-asc {
                    --#{$prefix}link-color-rgb: var(--#{$prefix}datatable-headers-color);
                    text-decoration: none;
                    position: relative;
                    display: block;
                    padding-right: $spacer;

                    &:after {
                        font: var(--#{$fa-css-prefix}-font-solid);
                        color: $gui-datatable-headers-icon-color;
                        font-size: .688rem;
                        position: absolute;
                        right: 0;
                        bottom: .2rem;
                    }

                    &:hover {
                        color: var(--#{$prefix}link-hover-color);
                    }
                }

                .sorting-waiting:after {
                    content: fa-content($fa-var-sort);
                }

                .sorting-asc:after {
                    content: fa-content($fa-var-sort-up);
                    bottom: 0;
                }

                .sorting-desc:after {
                    content: fa-content($fa-var-sort-down);
                    bottom: .4rem;
                }
            }
        }
    }

    tbody {
        tr {
            td {
                &:before {
                    color: var(--#{$prefix}datatable-headers-responsive-color);
                    border-right: 1px solid var(--#{$prefix}table-border-color);
                    padding-right: $spacer * .5;
                    margin-right: $spacer * .5;
                    text-align: right;
                    display: none;
                    max-width: 30%;
                    min-width: 30%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
    }
}

.datatable-bottom {
    --#{$prefix}datatable-stats-color: #{$gui-datatable-stats-color};

    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: $spacer;

    .datatable-stats {
        color: var(--#{$prefix}datatable-stats-color);
        font-size: .9166666666666666em;
    }

    .datatable-paginator {
        text-align: center;

        nav {
            display: inline-block;
        }
    }
}

.datatable-search {
    padding: $spacer;
    margin-bottom: $spacer;
    background-color: var(--#{$prefix}datatable-search-bg);
    border: 1px solid var(--#{$prefix}datatable-search-border-color);
    @include border-radius($card-border-radius);

    .row-exp {
        display: flex;
        gap: $spacer;
    }

    .btn-default,
    .btn-addon {
        --#{$prefix}btn-border-color: var(--#{$prefix}datatable-search-border-color);
    }

    .search-group {
        flex-direction: column;
        border-top: none;

        .control-label {
            label {
                font-weight: $form-label-font-weight;
                margin-bottom: $form-label-margin-bottom;
            }
        }

        .control-field {
            .form-control,
            .form-select {
                border-color: var(--#{$prefix}datatable-search-border-color);
            }
        }

        .control-label,
        .control-field {
            display: block;
        }

        &:not(:first-child){
            margin-top: $spacer;
        }
    }

    .search-buttons {
        display: flex;
        gap: var(--#{$prefix}spacer);
        width: 100%;
    }
}

@each $breakpoint in map-keys($grid-breakpoints) {
    @include media-breakpoint-up($breakpoint) {
        &.datatable-expand-#{$breakpoint}{
            &.column-sorting-color {
                tbody {
                    td.sorting {
                        --#{$prefix}table-accent-bg: #{$gui-datatable-column-sorting-color};
                    }
                }
            }

            .datatable-bottom {
                position: relative;

                .datatable-stats,
                .datatable-options {
                    position: relative;
                    z-index: 10;
                }

                .datatable-paginator {
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin-left: auto;
                    margin-right: auto;
                    z-index: 0;
                }
            }

            .table {
                thead {
                    .gui-selector {
                        width: $form-check-input-width + $spacer;
                    }
                }

                .gui-selector {
                    .form-check {
                        display: inline-block;
                    }
                }
            }

            .datatable-search {
                .col-exp:first-child {
                    flex-grow: 1;
                    width: 100%;
                    max-width: map-get($gui-form-field-sizes, 'size-5');
                }

                .col-exp:last-child {
                    display: flex;
                    align-items: end;
                    justify-content: space-between;
                    gap: $spacer;
                    flex-grow: 1;
                }

                .search-buttons {
                    &>.btn.pull-right {
                        margin-left: auto;
                    }
                }
            }
        }
    }

    @include media-breakpoint-down($breakpoint) {
        &.datatable-expand-#{$breakpoint}{
            .table-adapt {
                .table {
                    &, thead, tbody, tr, th {
                        display: block;
                    }

                    thead,
                    tbody {
                        tr {
                            border-width: 1px 1px 0 1px;
                            margin-bottom: $spacer;
                            overflow: hidden;

                            @include border-radius($card-border-radius);

                            td, th {
                                .form-check {
                                    display: inline-block;
                                }
                            }
                        }
                    }

                    thead {
                        tr {
                            th {
                                border-color: var(--#{$prefix}table-border-color);
                                padding: $table-cell-padding-y $table-cell-padding-x;
                                width: auto !important;
                                min-width: auto !important;
                                text-align: left !important;

                                &.hidden-responsive {
                                    display: none;
                                }
                            }

                            &.hidden-responsive {
                                display: none;
                            }
                        }
                    }

                    tbody {
                        tr {
                            td {
                                display: flex;

                                &:not(.gui-no-elements):before {
                                    display: inline-block;
                                }
                            }
                        }
                    }
                }

                .datatable-search {
                    .row-exp {
                        flex-direction: column;
                    }

                    .search-buttons {
                        &>.btn {
                            flex: 1 1 0px;
                        }
                    }
                }
            }

            .datatable-bottom {
                flex-direction: column;
                gap: $spacer;

                .datatable-stats {
                    text-align: center;
                }
            }
        }
    }
}

.datatable-loading {
    @include content-loading('circle', true, 8rem);
    min-height: 12rem;
}