@each $breakpoint in map-keys($grid-breakpoints) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);
    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
        @if $grid-columns > 0 {
            @for $i from 1 through $grid-columns {
                .flex#{$infix}-#{$i} {
                    flex-basis: percentage(divide($i, $grid-columns)) !important;
                }
            }
        }
    }
}