@import "fonts/roboto";
@import "fonts/fa";

.#{$fa-css-prefix}-regular,
.#{$fa-css-prefix}-solid,
.#{$fa-css-prefix}-duotone,
.far, .fas, .fad {
    font-size: 1rem;
}

@for $i from 1 through 10 {
    .#{$fa-css-prefix}-#{$i}x {
        font-size: $i * 1rem;
    }
}