.footer {
    border-top: $card-border-width solid $card-border-color;
    background-color: $card-bg;
    margin-top: auto;
    padding: $spacer * .5;
    min-height: 3.125rem;
    flex-shrink: 0;

    .dropdown-menu {
        --gui-dropdown-spacer: 1rem;
    }
}

.gui-footer {
    display: flex;
    gap: $spacer * .5;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    &.container {
        height: 100%;
    }

    .footer-center {
        flex-grow: 1;
        text-align: center;
    }
}