@import "forms/input-group";
@import "forms/form-group";
@import "forms/form-group-vertical";
@import "forms/form-group-floating";
@import "forms/form-fieldset";

@import "forms/form-control";
@import "forms/form-select";
@import "forms/form-range";
@import "forms/form-check";
@import "forms/form-date";
@import "forms/form-spin";
@import "forms/form-ip";
@import "forms/form-code";
@import "forms/form-lines";
@import "forms/form-password";
@import "forms/form-multi";
@import "forms/form-autocomplete";
@import "forms/form-tokenize";
@import "forms/form-file";
@import "forms/form-image";
@import "forms/form-captcha";

@import "forms/validation";
@import "forms/form-signin";