.sf-dump {
    padding: $spacer * .5 !important;
    font-family: $font-family-monospace !important;
    font-size: 14px !important;
    @include border-radius($border-radius);
    line-height: 1.5 !important;
}