@if $force-font-size {
    html {
        font-size: $font-size-root + px !important;
    }
}

body, html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-width: 0;
}

.main-container {
    margin-bottom: $grid-gutter-width * .5;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    min-width: 0;
}

.gui-layout-2cols {
    .gui-horizontal-layout {
        display: flex;
        flex-grow: 1;
        min-width: 0;

        .main-container,
        .sidebar-container {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
        }

        .sidebar-container {
            @each $breakpoint in map-keys($grid-breakpoints) {
                @include media-breakpoint-up($breakpoint) {
                    &.sidebar-expand-#{$breakpoint}+.main-container {
                        width: calc(100% - #{$offcanvas-horizontal-width});
                    }
                }
            }
        }
    }
}

.centered-container {
    margin: auto;
    flex: 0 0 auto;
    width: 83.33333%;
    max-width: 760px;
}