.gui-loading {

    display: inline-block;

    &.circle {
        @include content-loading('circle');
    }

    &.infinite {
        @include content-loading('infinite');
    }

    &.bars {
        @include content-loading('bars');
    }
}