.tab-content.bordered {
    padding: $spacer;
    border: 1px solid $nav-tabs-border-color;
    border-top: none;

    @include border-bottom-radius($border-radius);
}

.nav-tabs {
    --#{$prefix}nav-link-padding-y: .5rem;
    --#{$prefix}nav-tabs-error-icon: "\f071";
    --#{$prefix}nav-tabs-error-icon-weight: 400;
    --#{$prefix}nav-tabs-external-bg: var(--#{$prefix}card-bg);
    --#{$prefix}nav-tabs-external-indicator-height: #{$nav-tabs-external-indicator-size};
    --#{$prefix}nav-tabs-external-padding-y: #{$nav-tabs-external-padding-y};
    --#{$prefix}nav-tabs-external-separator-color: var(--#{$prefix}nav-tabs-border-color);

    .tab-error {
        color: var(--#{$prefix}danger-text-emphasis) !important;
        display: inline-flex;
        align-items: center;

        &:after {
            content: var(--#{$prefix}nav-tabs-error-icon);
            font-family: var(--fa-style-family-classic);
            font-weight: var(--#{$prefix}nav-tabs-error-icon-weight);
            font-size: 1rem;
            line-height: 1rem;
            margin-left: ($spacer * .5);
        }
    }

    &.external {

        --#{$prefix}nav-link-padding-y: var(--#{$prefix}nav-tabs-external-padding-y);
        --#{$prefix}nav-tabs-link-hover-border-color: transparent transparent var(--#{$prefix}primary-bg-subtle) transparent;
        --#{$prefix}nav-tabs-link-active-border-color: transparent transparent var(--#{$prefix}primary) transparent;

        overflow: hidden;
        margin-bottom: var(--#{$prefix}spacer);
        background-color: var(--#{$prefix}nav-tabs-external-bg);
        border: var(--#{$prefix}nav-tabs-border-width) solid var(--#{$prefix}nav-tabs-border-color);
        border-radius: var(--#{$prefix}nav-tabs-border-radius);

        .nav-item {
            position: relative;
            margin-left: -1px;

            &+.nav-item {
                &:after,
                &:before {
                    content: " ";
                    background-color: var(--#{$prefix}nav-tabs-external-separator-color);
                    width: var(--#{$prefix}nav-tabs-border-width);
                    position: absolute;
                    top: var(--gui-nav-link-padding-y);
                    bottom: var(--gui-nav-link-padding-y);
                }

                &:before {
                    left: 0;
                }

                &:after {
                    right: 0;
                }
            }

            &:last-child {
                &:after {
                    display: none;
                }
            }
        }

        .nav-link {
            --#{$prefix}nav-tabs-border-radius: 0;

            background-color: transparent;
            margin-bottom: 0;
            border-width: 0 0 var(--#{$prefix}nav-tabs-external-indicator-height) 0;
            padding-bottom: calc(var(--gui-nav-link-padding-y) - var(--#{$prefix}nav-tabs-external-indicator-height));
        }
    }
}