.nav {
    &.nav-toggle {
        --#{$prefix}nav-link-padding-x: #{$nav-link-padding-y};
        a {
            &:not(.active):hover {
                background-color: $dropdown-link-hover-bg;
                color: $dropdown-link-hover-color;
            }
        }

        .icon-flex {
            --#{$prefix}icon-flex-align: start;
        }
    }

    .nav-header {
        display: flex;
        align-items: center;
        gap: .5rem;
        font-weight: bold;
        font-size: .625rem;
        text-transform: uppercase;
        padding: var(--#{$prefix}nav-link-padding-y) 0 var(--#{$prefix}nav-link-padding-y) var(--#{$prefix}nav-link-padding-x);

        &:after {
            flex-grow: 1;
            content: "";
            height: 1px;
            background-color: var(--#{$prefix}border-color);
        }
    }
}

.nav-link {
    cursor: pointer;
    user-select: none;
}