.page-header {

    --#{$prefix}page-header-background-color: #{$card-bg};
    --#{$prefix}page-header-border-color: #{$card-border-color};
    --#{$prefix}page-header-margin-bottom: #{$spacer};
    --#{$prefix}page-header-padding: #{$spacer * .75} #{$grid-gutter-width * .75};
    --#{$prefix}page-header-icon-margin-right: #{$spacer * .5};
    --#{$prefix}page-header-title-font-size: #{$gui-page-header-title-font-size};
    --#{$prefix}page-header-icon-font-size: #{$gui-page-header-icon-font-size};
    --#{$prefix}page-header-icon-height: #{$gui-page-header-icon-height};

    background-color: var(--#{$prefix}page-header-background-color);
    border-bottom: 1px solid var(--#{$prefix}page-header-border-color);
    margin-bottom: var(--#{$prefix}page-header-margin-bottom);
    padding: var(--#{$prefix}page-header-padding);

    display: flex;
    align-items: center;

    &>.container {
        display: flex;
        align-items: center;

        @include media-breakpoint-down('sm') {
            padding-left: 0;
            padding-right: 0;
        }
    }

    &>i,
    &>.container>i {
        font-size: var(--#{$prefix}page-header-icon-font-size);
        color: var(--#{$prefix}featured-text-color);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        min-width: var(--#{$prefix}page-header-icon-height);
        height: var(--#{$prefix}page-header-icon-height);
        margin-right: var(--#{$prefix}page-header-icon-margin-right);
    }

    h1 {
        margin: 0;
        line-height: 2rem;
        color: var(--#{$prefix}featured-text-color);
        font-size: var(--#{$prefix}page-header-title-font-size);
        font-weight: bold;
        flex-grow: 1;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .navigation {
        --#{$prefix}link-color-rgb: var(--#{$prefix}body-color-rgb);
        text-transform: uppercase;
        white-space: nowrap;

        &:hover {
            --#{$prefix}link-color-rgb: var(--#{$prefix}primary-rgb);
        }
    }
}