.pagination {
    margin-bottom: 0;
    align-items: stretch;

    .first a:before {
        content: fa-content($fa-var-backward-fast);
    }

    .previous a:before {
        content: fa-content($fa-var-backward-step);
    }

    .next a:before {
        content: fa-content($fa-var-forward-step);
    }

    .last a:before {
        content: fa-content($fa-var-forward-fast);
    }

    .first,
    .last,
    .previous,
    .next {
        display: flex;
        align-items: stretch;

        a {
            display: flex;
            align-items: center;

            font: var(--#{$fa-css-prefix}-font-solid);
            font-size: 1rem;

            &:before {
                line-height: 1.125em;
            }
        }
    }
}