.progress {
    user-select: none;
}

.progress-labeled {
    position: relative;

    &>*{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
    }

    &>.progress-bar {
        position: absolute;
        top: 0;
    }
}