.sidebar-container {
    flex-shrink: 0;

    .page-header {
        margin-bottom: 0;
    }

    .sidebar-body {
        padding: $spacer;
        overflow-y: auto;
    }
}

.sidebar-container {
    --#{$prefix}sidebar-expand-border: 0;
    --#{$prefix}sidebar-expand-bg: transparent;
    --#{$prefix}sidebar-expand-padding-end: 0;
}

.sidebar-expand {
    @each $breakpoint in map-keys($grid-breakpoints) {
        $next: breakpoint-next($breakpoint, $grid-breakpoints);
        $infix: breakpoint-infix($next, $grid-breakpoints);
        &#{$infix} {
            @include media-breakpoint-up($next) {
                &.offcanvas {
                    position: static;
                    z-index: auto;
                    visibility: visible !important;
                    background-color: var(--#{$prefix}sidebar-expand-bg) !important;
                    border-right: var(--#{$prefix}sidebar-expand-border) !important;
                    transform: none !important;

                    @include box-shadow(none);
                    @include transition(none);

                    .offcanvas-header {
                        display: none;
                    }

                    .page-header {
                        padding-right: 0;
                    }
                }

                .sidebar-body {
                    padding-right: var(--#{$prefix}sidebar-expand-padding-end);
                }
            }

            @include media-breakpoint-down($next) {
                &.offcanvas {
                    --#{$prefix}offcanvas-width: #{$offcanvas-horizontal-width + $spacer};
                }
            }
        }
    }
}