@each $gray, $gray-color in $grays {
    .text-gray-#{$gray}{
        color: $gray-color;
    }
}

.fs-error {
    font-size: 10rem;
    line-height: 1em;
    margin-bottom: 2rem;
}

.text-featured {
    color: var(--#{$prefix}featured-text-color) !important;
}