//<editor-fold desc="Gui global variables">
$gui-outer-border-color: #d3d8db !default;
$gui-inner-border-color: #eeeeee !default;
$gui-featured-text-color: #555555 !default;
$gui-text-color: #5e6e82 !default;
$gui-text-white: #ffffff !default;
$gui-panel-bg: #ffffff !default;
$gui-panel-footer-bg: #f9fafd !default;
$gui-no-box-shadow: 0 0 0 0 !default;
$gui-theme: light !default;
//</editor-fold>

//<editor-fold desc="Bootstrap override variables">
$prefix: "gui-" !default;

$enable-reduced-motion:         false !default;
$enable-shadows:                true !default;
$enable-cssgrid:                true !default;
$enable-negative-margins:       false !default;
$enable-smooth-scroll:          false !default;
$enable-validation-icons:       false !default;
$enable-deprecation-messages:   false !default;
$enable-rfs:                    false !default;
$enable-dark-mode:              false !default;
$force-font-size:               true !default;

$border-radius:             .25rem !default;
$border-radius-sm:          $border-radius !default;
$border-radius-lg:          .5rem !default;
$border-radius-xl:          1rem !default;
$border-radius-2xl:         2rem !default;
$border-radius-pill:        50rem !default;

$min-contrast-ratio:        1 !default;
$grid-columns:              12 !default;
$grid-gutter-width:         2rem !default;
$spacer:                    1rem !default;
$spacers: (
    0: 0,
    1: $spacer * .25,
    2: $spacer * .5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 2,
    6: $spacer * 2.5,
    7: $spacer * 3,
    8: $spacer * 3.5,
    9: $spacer * 4,
) !default;
//</editor-fold>

//<editor-fold desc="Zindex-stack">
$zindex-dropdown:           1000 !default;
$zindex-sticky:             1020 !default;
$zindex-fixed:              1030 !default;
$zindex-modal-backdrop:     1050 !default;
$zindex-modal:              1055 !default;
$zindex-popover:            1070 !default;
$zindex-tooltip:            1080 !default;
$zindex-offcanvas-backdrop: 1090 !default;
$zindex-offcanvas:          1100 !default;
$zindex-toast:              1110 !default;
//</editor-fold>

//<editor-fold desc="Fix missing null values">
$headings-color:            inherit !default;
$breadcrumb-bg:             inherit !default;
$card-box-shadow:           inherit !default;
$card-cap-color:            inherit !default;
$card-height:               auto !default;
$card-color:                inherit !default;
$dropdown-dark-box-shadow:  inherit !default;
$breadcrumb-border-radius:  inherit !default;
$modal-content-color:       inherit !default;
$toast-color:               inherit !default;
$tooltip-margin:            inherit !default;
//</editor-fold>

//<editor-fold desc="Fonts">
$font-size-root: 16 !default;
$font-size-base: .75rem !default;

$font-family-sans-serif: Roboto, "Segoe UI", "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace !default;
//</editor-fold>

//<editor-fold desc="Colors">
$primary:   #00aff0 !default;
$success:   #00d27a !default;
$info:      #60a5fa !default;
$warning:   #f5803e !default;
$danger:    #e63757 !default;
$dark:      #0e2238 !default;

$primary-text-emphasis:   shade-color($primary, 20%) !default;
$success-text-emphasis:   shade-color($success, 20%) !default;
$info-text-emphasis:      shade-color($info,    20%) !default;
$warning-text-emphasis:   shade-color($warning, 20%) !default;
$danger-text-emphasis:    shade-color($danger,  10%) !default;

$primary-border-subtle:     tint-color($primary,    40%) !default;
$success-border-subtle:     tint-color($success,    40%) !default;
$info-border-subtle:        tint-color($info,       40%) !default;
$warning-border-subtle:     tint-color($warning,    40%) !default;
$danger-border-subtle:      tint-color($danger,     40%) !default;

$white:     #ffffff !default;
$gray-100:  #f9fafd !default;
$gray-200:  #edf2f9 !default;
$gray-300:  #d8e2ef !default;
$gray-400:  #b6c1d2 !default;
$gray-500:  #9da9bb !default;
$gray-600:  #748194 !default;
$gray-700:  #5e6e82 !default;
$gray-800:  #4d5969 !default;
$gray-900:  #344050 !default;

$theme-colors: (
    "primary":    $primary,
    "success":    $success,
    "info":       $info,
    "warning":    $warning,
    "danger":     $danger,
    "dark":       $dark,
) !default;

$border-color: $gui-outer-border-color !default;
$body-bg: #eff6fc !default;
$body-color: $gui-text-color !default;

$link-decoration: none !default;
$link-color: $primary !default;
$link-hover-color: #0077a4 !default;
$link-inverted-color: $body-color !default;
$link-inverted-hover-color: $primary !default;

$component-active-color: $white !default;
$component-active-bg: $primary !default;
//</editor-fold>

//<editor-fold desc="Caret">
$caret-vertical-align: middle !default;
$caret-spacing: 0.5rem !default;
//</editor-fold>

//<editor-fold desc="Nav">
$nav-link-font-weight: inherit !default;
$nav-link-transition: none !default;
$nav-link-color: $body-color !default;
$nav-link-hover-color: $body-color !default;
$nav-link-disabled-color: $gray-400 !default;

$navbar-min-height: 52px !default;
$navbar-brand-height: 36px !default;
$navbar-brand-font-size: 1.10rem !default;
$navbar-brand-padding-y: 0 !default;

//$nav-link-padding-y: .375rem !default;

$navbar-dark-bg: #1f2937 !default;
$navbar-dark-color: lighten($nav-link-color, 30%) !default;
$navbar-dark-text-color: darken($navbar-dark-color, 20%) !default;
$navbar-dark-hover-bg: lighten($navbar-dark-bg, 5%) !default;
$navbar-dark-hover-color: $gui-text-white !default;
$navbar-dark-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#{$navbar-dark-color}' viewBox='0 0 448 512'><path d='M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z'/></svg>") !default;
$navbar-dark-toggler-border-color: transparent !default;
$navbar-dark-sidebar-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#{$navbar-dark-color}' viewBox='0 0 128 512'><path d='M64 360c30.9 0 56 25.1 56 56s-25.1 56-56 56s-56-25.1-56-56s25.1-56 56-56zm0-160c30.9 0 56 25.1 56 56s-25.1 56-56 56s-56-25.1-56-56s25.1-56 56-56zM120 96c0 30.9-25.1 56-56 56S8 126.9 8 96S33.1 40 64 40s56 25.1 56 56z'/></svg>") !default;
$navbar-dark-brand-color: $gui-text-white !default;
$navbar-dark-brand-color: $navbar-dark-brand-color !default;

$nav-link-padding-y: .375rem;

$navbar-light-bg: $body-bg !default;
$navbar-light-color: $nav-link-color !default;
$navbar-light-text-color: lighten($navbar-light-color, 10%) !default;
$navbar-light-hover-bg: darken($navbar-light-bg, 5%) !default;
$navbar-light-hover-color: darken($navbar-light-color, 30%) !default;
$navbar-light-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#{$navbar-light-color}' viewBox='0 0 448 512'><path d='M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z'/></svg>") !default;
$navbar-light-toggler-border-color: transparent !default;
$navbar-light-sidebar-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='#{$navbar-light-color}' viewBox='0 0 128 512'><path d='M64 360c30.9 0 56 25.1 56 56s-25.1 56-56 56s-56-25.1-56-56s25.1-56 56-56zm0-160c30.9 0 56 25.1 56 56s-25.1 56-56 56s-56-25.1-56-56s25.1-56 56-56zM120 96c0 30.9-25.1 56-56 56S8 126.9 8 96S33.1 40 64 40s56 25.1 56 56z'/></svg>") !default;
$navbar-light-brand-color: $body-color !default;
$navbar-light-brand-hover-color: $navbar-light-brand-color !default;

$navbar-responsive-font-size: $font-size-base * 1.33333333 !default;
//</editor-fold>

//<editor-fold desc="Tabs">
$nav-tabs-border-color: $border-color !default;
$nav-tabs-link-active-color: $body-color !default;
$nav-tabs-link-active-bg: $gui-panel-bg !default;
$nav-tabs-link-hover-border-color: $border-color $border-color $border-color !default;
$nav-tabs-link-active-border-color: $border-color $border-color $nav-tabs-link-active-bg !default;
$nav-tabs-external-padding-y: .625rem !default;
$nav-tabs-external-indicator-size: .313rem !default;
//</editor-fold>

//<editor-fold desc="Button">
$btn-font-family: inherit !default;
$btn-box-shadow: $gui-no-box-shadow !default;
$btn-active-box-shadow: $gui-no-box-shadow !default;
$btn-white-space: nowrap !default;
$btn-close-focus-shadow: none !default;
$btn-close-opacity: 1 !default;
$btn-close-hover-opacity: 1 !default;
$btn-close-focus-opacity: 1 !default;

$btn-transition: none !default;
//</editor-fold>

//<editor-fold desc="Spinner">
$spinner-border-width: .3rem !default;
$spinner-border-width-sm: .2rem !default;
$spinner-animation-speed: .5s !default;
//</editor-fold>

//<editor-fold desc="Tooltip">
$tooltip-color: $white;
//</editor-fold>

//<editor-fold desc="Dropdown">
$dropdown-bg: $gui-panel-bg !default;
$dropdown-color: $body-color !default;
$dropdown-link-color: $body-color !default;
$dropdown-link-hover-bg: $body-bg !default;
$dropdown-link-disabled-color: #bfc7cf !default;
$dropdown-item-padding-y: $spacer * .438 !default;
$dropdown-border-color: $border-color !default;
$dropdown-divider-bg: $gui-inner-border-color !default;
$dropdown-min-width: 12rem !default;
//</editor-fold>

//<editor-fold desc="Card">
$card-bg: $gui-panel-bg !default;
$card-cap-bg: $gui-panel-footer-bg !default;
$card-border-color: $border-color !default;
$card-cap-title-font-size: 1.25em !default;
$card-cap-title-line-height: 1.25em !default;
$card-cap-title-font-weight: bold !default;
$card-cap-padding-x: $spacer !default;
$card-cap-padding-y: $spacer !default;
//</editor-fold>

//<editor-fold desc="Modal">
$modal-content-bg: $card-bg !default;
$modal-header-padding-x: $card-cap-padding-x !default;
$modal-header-padding-y: $card-cap-padding-y !default;
$modal-header-border-color: $gui-inner-border-color !default;
$modal-title-line-height: $card-cap-title-line-height !default;
$modal-title-font-weight: $card-cap-title-font-weight !default;
$modal-title-font-size: $card-cap-title-font-size !default;
$modal-footer-border-color: $gui-inner-border-color !default;
$modal-footer-bg: $card-cap-bg !default;
$modal-dialog-margin-y-sm-up: 2rem !default;
$modal-backdrop-bg: transparent !default;
$modal-backdrop-opacity: 1 !default;
$modal-scale-transform: scale(1) !default;

$modal-sm: 500px !default;
$modal-md: 700px !default;
$modal-lg: 960px !default;
$modal-xl: 1300px !default;
//</editor-fold>

//<editor-fold desc="Alert">
$alert-padding-y: $spacer * .75 !default;
$alert-padding-x: $spacer * .75 !default;
$alert-border-scale: -50% !default;
//</editor-fold>

//<editor-fold desc="Popover">
$popover-font-size: $font-size-base !default;
$popover-header-bg: lighten($border-color, 10%) !default;
$popover-header-color: $card-cap-color !default;
$popover-header-padding-x: $spacer * .75 !default;
$popover-body-padding-y: $spacer * .75 !default;
$popover-body-padding-x: $spacer * .75 !default;
$popover-border-color: $border-color !default;
$popover-border-radius: $border-radius-sm !default;
$popover-bg: $card-bg !default;
//</editor-fold>

//<editor-fold desc="Table">
$table-bg: transparent !default;
$table-color:  var(--#{$prefix}body-color) !default;
$table-striped-bg: #fbfefe !default;
$table-border-color: $gui-inner-border-color !default;
$table-striped-order: even !default;
$table-header-border-color: $gui-outer-border-color !default;
//</editor-fold>

//<editor-fold desc="Paginator">
$pagination-bg: $card-bg !default;
$pagination-border-color: $card-border-color !default;
$pagination-hover-bg: $dropdown-link-hover-bg !default;
$pagination-hover-border-color: $pagination-border-color !default;
$pagination-color: $gui-text-color !default;
//</editor-fold>

//<editor-fold desc="List Group">
$list-group-color: $body-color !default;
$list-group-bg: $card-bg !default;
$list-group-disabled-color: lighten($body-color, 20%) !default;
$list-group-border-color: $border-color !default;
$list-group-hover-bg: $dropdown-link-hover-bg !default;
$list-group-action-hover-color: $list-group-color !default;
//</editor-fold>

//<editor-fold desc="Form">
$form-control-label-width: 14rem !default;

$form-label-font-weight: bold !default;
$form-label-margin-top: .438rem !default;
$form-label-margin-bottom: .219rem !default;
$form-label-required-icon: "*" !default;
$form-label-required-color: $danger-text-emphasis !default;

$input-bg: $gui-panel-bg !default;
$input-color: $body-color !default;
$input-border-color: #ced4da !default;
$input-focus-border-color: $input-border-color !default;
$input-focus-bg: $input-bg !default;
$input-group-addon-bg: #f5f8f9 !default;
$input-box-shadow: $gui-no-box-shadow !default;
$input-placeholder-color: #cccccc !default;
$input-disabled-bg: #fafafa !default;
$input-disabled-color: #899197 !default;
$input-disabled-border-color: $input-border-color !default;

$form-select-bg: $input-bg !default;
$form-select-bg-position: right center !default;
$form-select-indicator-color: #a2a2a2 !default;
$form-select-box-shadow: $gui-no-box-shadow !default;
$form-select-feedback-icon-size: 1rem !default;
$form-select-disabled-bg: $input-disabled-bg !default;
$form-select-disabled-color: $input-disabled-color !default;
$form-select-focus-bg: $input-focus-bg !default;

$form-range-thumb-active-bg: $primary !default;
$form-select-indicator-padding: .75rem * 2.5 !default;
$form-select-bg-size: 18px 48px !default;
$form-select-indicator: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'><path stroke='#{$form-select-indicator-color}' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/></svg>") !default;

$form-check-input-border: 1px solid $input-border-color !default;
$form-check-input-width: 1rem !default;
$form-check-min-height: 1rem !default;
$form-check-padding-start: 0 !default;

$form-switch-color: #a2a2a2 !default;
$form-switch-padding-start: 0 !default;
$form-switch-width: 2.75rem !default;
$form-switch-height: 1.313rem !default;
$form-switch-margin-top: .313rem !default;
//</editor-fold>

//<editor-fold desc="Offcanvas">
$offcanvas-bg-color: $body-bg !default;
$offcanvas-horizontal-width: 18rem !default;
//</editor-fold>

//<editor-fold desc="Hr">
$hr-border-color: $gui-inner-border-color !default;
$hr-opacity: 1 !default;
//</editor-fold>

//<editor-fold desc="Code">
$kbd-bg: #555555 !default;
$kbd-color: $gui-text-white !default;
$code-font-size: $font-size-base !default;
//</editor-fold>

//<editor-fold desc="Progress">
$progress-bar-animation-timing: 1s linear infinite !default;
//</editor-fold>

//
// Import default bootstrap variables
//
@import "../bootstrap/variables";
@import "../bootstrap/variables-dark";

//
// Gui components
//

//<editor-fold desc="Gui components">
$gui-loading-infinite: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><path fill='none' stroke='#{$info}' stroke-width='10' stroke-dasharray='148.82157836914064 107.76734985351561' d='M24.3 30C11.4 30 5 43.3 5 50s6.4 20 19.3 20c19.3 0 32.1-40 51.4-40 C88.6 30 95 43.3 95 50s-6.4 20-19.3 20C56.4 70 43.6 30 24.3 30z' stroke-linecap='round' style='transform:scale(1); transform-origin:50px 50px'><animate attributeName='stroke-dashoffset' repeatCount='indefinite' dur='1s' keyTimes='0;1' values='0;256.58892822265625'></animate></path></svg>") !default;
$gui-loading-circle: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><circle r='40' cx='50' cy='50' fill='transparent' stroke='#{$border-color}' stroke-width='10' stroke-dasharray='251.20000000000002px' stroke-dashoffset='0'></circle><circle r='40' cx='50' cy='50' stroke='#{$info}' stroke-width='10' stroke-linecap='round' stroke-dashoffset='168px' fill='transparent' stroke-dasharray='251.20000000000002px'><animateTransform attributeName='transform' type='rotate' from='0 50 50' to='360 50 50' dur='0.75s' repeatCount='indefinite'/></circle></svg>") !default;
$gui-loading-bars: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 135 140' fill='#{$info}'><rect y='10' width='15' height='120' rx='6'><animate attributeName='height' begin='0.5s' dur='1s' values='120;110;100;90;80;70;60;50;40;140;120' calcMode='linear' repeatCount='indefinite' /><animate attributeName='y' begin='0.5s' dur='1s' values='10;15;20;25;30;35;40;45;50;0;10' calcMode='linear' repeatCount='indefinite' /></rect><rect x='30' y='10' width='15' height='120' rx='6'><animate attributeName='height' begin='0.25s' dur='1s' values='120;110;100;90;80;70;60;50;40;140;120' calcMode='linear' repeatCount='indefinite' /><animate attributeName='y' begin='0.25s' dur='1s' values='10;15;20;25;30;35;40;45;50;0;10' calcMode='linear' repeatCount='indefinite' /></rect><rect x='60' width='15' height='140' rx='6'><animate attributeName='height' begin='0s' dur='1s' values='120;110;100;90;80;70;60;50;40;140;120' calcMode='linear' repeatCount='indefinite' /><animate attributeName='y' begin='0s' dur='1s' values='10;15;20;25;30;35;40;45;50;0;10' calcMode='linear' repeatCount='indefinite' /></rect><rect x='90' y='10' width='15' height='120' rx='6'><animate attributeName='height' begin='0.25s' dur='1s' values='120;110;100;90;80;70;60;50;40;140;120' calcMode='linear' repeatCount='indefinite' /><animate attributeName='y' begin='0.25s' dur='1s' values='10;15;20;25;30;35;40;45;50;0;10' calcMode='linear' repeatCount='indefinite' /></rect><rect x='120' y='10' width='15' height='120' rx='6'><animate attributeName='height' begin='0.5s' dur='1s' values='120;110;100;90;80;70;60;50;40;140;120' calcMode='linear' repeatCount='indefinite' /><animate attributeName='y' begin='0.5s' dur='1s' values='10;15;20;25;30;35;40;45;50;0;10' calcMode='linear' repeatCount='indefinite' /></rect></svg>") !default;
$gui-btn-icon-size: 2.6666666666666665em !default;
//</editor-fold>

//<editor-fold desc="Gui page-header">
$gui-page-header-title-font-size: 1.5em !default;
$gui-page-header-icon-font-size: 1.5rem !default;
$gui-page-header-icon-height: 2rem !default;
//</editor-fold>

//<editor-fold desc="Gui form">
$gui-form-select-option-font-size: 1rem !default;
$gui-form-breakpoint: md !default;
$gui-form-label-text-align: right !default;
$gui-form-bordered-border-width: $border-width !default;
$gui-form-bordered-border-color: $gui-inner-border-color !default;
$gui-form-bordered-border-style: solid !default;

$gui-form-validation-font-size: .625rem !default;
$gui-form-validation-icon: \f35b !default;
$gui-form-validation-icon-weight: 900 !default;
$gui-form-validation-icon-size: .75rem !default;

$gui-form-range-progress-bg: $form-range-thumb-bg !default;
$gui-form-checklist-border-width: $input-border-width !default;
$gui-form-checklist-border-color: lighten($input-border-color, 5%) !default;
$gui-form-checklist-heading-bg: shade-color($gui-panel-bg, 1%) !default;

$gui-form-toggle-margin: 2 !default;
$gui-form-toggle-checked-bg: $primary !default;
$gui-form-toggle-checked-color: $gui-text-white !default;
$gui-form-toggle-unchecked-bg: $danger !default;
$gui-form-toggle-unchecked-color: $gui-text-white !default;

$gui-form-field-sizes: (
    "size-1": 5rem,
    "size-2": 10rem,
    "size-3": 15rem,
    "size-4": 20rem,
    "size-5": 25rem,
    "size-6": 30rem,
    "size-7": 35rem,
    "size-8": 40rem,
    "size-9": 45rem,
    "size-10": 100%
) !default;
//</editor-fold>

//<editor-fold desc="Gui avatar">
$gui-avatars-sizes: (
    "xxl": 7rem,
    "xl":  6rem,
    "lg":  5rem,
    "md":  4rem,
    "sm":  3rem,
    "xs":  2rem
) !default;
//</editor-fold>

//<editor-fold desc="Gui alert">
$gui-alert-icons-size: 1.5rem !default;
$gui-alert-icons: (
    "success": \f058,
    "danger": \f071,
    "warning": \f06a,
    "info": \f05a,
) !default;
//</editor-fold>

//<editor-fold desc="Gui datepicker">
$gui-dp-bg: $dropdown-bg !default;
$gui-dp-border-color: $dropdown-border-color !default;
$gui-dp-border-radius: $dropdown-border-radius !default;
$gui-dp-border-width: $dropdown-border-width !default;
$gui-dp-box-shadow: $dropdown-box-shadow !default;
$gui-dp-margin-top: .125rem !default;

$gui-dp-link-color: $dropdown-color !default;
$gui-dp-link-hover-bg: $dropdown-link-active-bg !default;
$gui-dp-link-hover-color: $dropdown-link-active-color !default;
$gui-dp-link-outer-color: darken($dropdown-link-disabled-color, 15%) !default;
$gui-dp-link-outer-hover-bg: $dropdown-link-hover-bg !default;
$gui-dp-link-outer-hover-color: $dropdown-link-hover-color !default;
$gui-dp-link-disabled-color: $dropdown-link-disabled-color !default;

$gui-dp-padding: $spacer * .5 !default;
$gui-dp-line-height: 1rem !default;
$gui-dp-item-width: 2rem !default;
$gui-dp-grid-columns: 7 !default;
$gui-dp-grid-gap: 1px !default;
//</editor-fold>

//<editor-fold desc="Gui datatable">
$gui-datatable-column-sorting-color: darken($table-striped-bg, 2%) !default;
$gui-datatable-headers-color: lighten($body-color, 10%) !default;
$gui-datatable-headers-icon-color: #adb5bd !default;
$gui-datatable-responsive-headers-color: #adb5bd !default;
$gui-datatable-search-bg: #ecf6fb !default;
$gui-datatable-search-border-color: #a0d0eb !default;
$gui-datatable-stats-color: #adb5bd !default;
//</editor-fold>

//<editor-fold desc="Gui simplebar">
$gui-simplebar-color: $gray-900;
//</editor-fold>