@use 'sass:map';

body {
    touch-action: manipulation;
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga" 0, "cv03", "cv04", "cv11";

    position: relative;
    min-height: 100%;
    height: 100%;
    padding: 0;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.layout-boxed {
    @include media-breakpoint-up(lg) {
        background: var(--#{$prefix}bg-surface-dark) linear-gradient(to top, rgba(#fff, .1), transparent) fixed;
        padding: var(--#{$prefix}spacer);
        padding-bottom: 0;
    }

    .page {
        margin: 0 auto;

        @include media-breakpoint-up(lg){
            max-width: #{map.get($container-max-widths, lg)};
            border: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color);
            border-bottom: none;
            background: var(--#{$prefix}body-bg);

            border-top-left-radius: var(--#{$prefix}border-radius);
            border-top-right-radius: var(--#{$prefix}border-radius);

            > .navbar:first-child {
                border-top-left-radius: var(--#{$prefix}border-radius);
                border-top-right-radius: var(--#{$prefix}border-radius);
            }
        }

        @include media-breakpoint-up(xl) {
            max-width: #{map.get($container-max-widths, xl)};
        }

        @include media-breakpoint-up(xxl) {
            max-width: #{map.get($container-max-widths, xxl)};
        }
    }
}