@use 'sass:map';

body {
    touch-action: manipulation;
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga" 0, "cv03", "cv04", "cv11";

    position: relative;
    min-height: 100%;
    height: 100%;
    padding: 0;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.layout-boxed {
    @include media-breakpoint-up(md) {
        background: var(--#{$prefix}bg-surface-dark) linear-gradient(to right, rgba(#fff, .1), transparent) fixed;
        padding: 0 var(--#{$prefix}spacer);
    }

    .page {
        margin: 0 auto;

        @include media-breakpoint-up(md){
            border-left: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color);
            border-right: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color);
            background: var(--#{$prefix}body-bg);
        }

        @include media-breakpoint-up(xl) {
            max-width: #{map.get($container-max-widths, xl)};
        }

        @include media-breakpoint-up(xxl) {
            max-width: #{map.get($container-max-widths, xxl)};
        }
    }
}