@use 'sass:map';

body {
    touch-action: manipulation;
    text-rendering: optimizeLegibility;
    font-feature-settings: "liga" 0, "cv03", "cv04", "cv11";

    position: relative;
    min-height: 100%;
    height: 100%;
    padding: 0;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}