@use 'sass:map';
@mixin navbar-vertical-nav {
    .navbar-collapse {
        flex-direction: column;

        [class^="container"] {
            flex-direction: column;
            align-items: stretch;
        }

        .navbar-nav {
            margin-left: 0;
            margin-right: 0;
            flex-direction: column;
            gap: 0;

            .nav-link {
                padding: .5rem;
                justify-content: flex-start;
                border-radius: 0;
            }
        }

        .dropdown-menu-columns {
            flex-direction: column;
        }

        .dropdown-menu {
            padding: 0;
            background: transparent;
            position: static;
            color: inherit;
            box-shadow: none;
            border: none;
            min-width: 0;
            margin: 0;

            &.dropdown-menu-arrow:before {
                display: none;
            }

            .dropdown-item {
                min-width: 0;
                display: flex;
                width: auto;
                padding-left: add(.5rem, 1.75rem);
                color: inherit;

                &.disabled {
                    color: var(--#{$prefix}disabled-color);
                    pointer-events: none;
                    background-color: transparent;
                }

                &.active,
                &:active {
                    background: var(--#{$prefix}dropdown-link-active-bg);
                    color: var(--#{$prefix}dropdown-link-active-color);
                }
            }

            .dropdown-menu-columns {
                gap: 0;
            }

            .dropdown-menu .dropdown-item {
                padding-left: add(calc(#{$container-padding-x} / 2), 3.25rem);
            }

            .dropdown-menu .dropdown-menu .dropdown-item {
                padding-left: add(calc(#{$container-padding-x} / 2), 4.75rem);
            }
        }

        .dropdown-toggle:after {
            margin-left: auto;
        }
    }
}

.navbar {
    --#{$prefix}navbar-border-width: #{$navbar-border-width};
    --#{$prefix}navbar-border-color: #{$navbar-border-color};
    --#{$prefix}navbar-bg: #{$navbar-bg};
    --#{$prefix}navbar-active-border-color: #{$primary};
    --#{$prefix}navbar-active-bg: rgba(0, 0, 0, 0.2);
    --#{$prefix}navbar-active-color: inherit;
    --#{$prefix}navbar-height: 3rem;

    background: var(--#{$prefix}navbar-bg);
    box-shadow: inset 0 calc(-1 * var(--#{$prefix}navbar-border-width)) 0 0 var(--#{$prefix}navbar-border-color);
    display: flex;
    align-items: center;
    min-height: var(--#{$prefix}navbar-height);

    .navbar-collapse & {
        flex-grow: 1;
    }

    .dropdown-menu {
        position: absolute;
    }
}

.navbar-expand {
    @each $breakpoint in map.keys($grid-breakpoints) {
        $next: breakpoint-next($breakpoint, $grid-breakpoints);
        $infix: breakpoint-infix($next, $grid-breakpoints);

        &#{$infix} {
            @include media-breakpoint-down(breakpoint-next($breakpoint)) {
                @include navbar-vertical-nav();
                [class^="container"], .navbar-collapse [class^="container"] {
                    --#{$prefix}gutter-x: var(--#{$prefix}spacer-2);
                }

                .navbar-brand {
                    --#{$prefix}navbar-brand-margin-end: 0;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }

            @include media-breakpoint-up(breakpoint-next($breakpoint)) {
                .nav-item.active {
                    position: relative;

                    &:after {
                        content: "";
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: calc(var(--#{$prefix}navbar-padding-y) * -1);
                        border: 0 var(--#{$prefix}border-style) var(--#{$prefix}primary);
                        border-bottom-width: 2px;
                    }
                }
            }
        }
    }
}

.navbar-nav {
    --#{$prefix}nav-link-hover-bg: var(--#{$prefix}hover-bg);
    gap: #{$spacer * .25};
    margin: 0;
    padding: 0;
    align-items: stretch;
    flex-direction: row;

    .nav-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        user-select: none;
    }

    .nav-link {
        justify-content: center;
        min-width: 2.5rem;
        min-height: 2.5rem;
        border-radius: var(--#{$prefix}border-radius);
        padding-right: var(--#{$prefix}navbar-nav-link-padding-x);
        padding-left: var(--#{$prefix}navbar-nav-link-padding-x);

        .badge {
            position: absolute;
            top: 0.375rem;
            right: 0.375rem;
            transform: translate(50%, -50%);
        }
    }
}

.navbar-brand {
    --#{$prefix}navbar-brand-height: #{$navbar-brand-height};
    --#{$prefix}navbar-brand-gap: #{$spacer * .5};
    --#{$prefix}navbar-brand-font-weight: var(--#{$prefix}font-weight-bold);

    gap: var(--#{$prefix}navbar-brand-gap);
    height: var(--#{$prefix}navbar-brand-height);
    margin-top: calc((var(--#{$prefix}navbar-height) - var(--#{$prefix}navbar-brand-height) - var(--#{$prefix}navbar-padding-y)) * .25);
    margin-bottom: calc((var(--#{$prefix}navbar-height) - var(--#{$prefix}navbar-brand-height) - var(--#{$prefix}navbar-padding-y)) * .25);

    font-weight: var(--#{$prefix}navbar-brand-font-weight);
    display: inline-flex;
    align-items: center;
}

.navbar-brand-image {
    --#{$prefix}navbar-brand-height: #{$navbar-brand-height};
    height: var(--#{$prefix}navbar-brand-height);
    width: auto;
}

.navbar-toggler {
    --#{$prefix}toggler-size: #{$navbar-brand-height};

    border: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--#{$prefix}toggler-size);
    width: var(--#{$prefix}toggler-size);
}

.navbar-toggler-icon {
    height: 2px;
    width: 1.25em;
    background: currentColor;
    position: relative;

    @include transition(
        top $navbar-toggler-animation-time $navbar-toggler-animation-time,
        bottom $navbar-toggler-animation-time $navbar-toggler-animation-time,
        transform $navbar-toggler-animation-time,
        opacity 0s $navbar-toggler-animation-time
    );

    &:before,
    &:after {
        content: "";
        display: block;
        height: inherit;
        width: inherit;
        border-radius: inherit;
        background: inherit;
        position: absolute;
        left: 0;
        @include transition(inherit);
    }

    &:before {
        top: -0.45em;
    }

    &:after {
        bottom: -0.45em;
    }

    .navbar-toggler[aria-expanded="true"] & {
        transform: rotate(45deg);
        @include transition(top $transition-time, bottom $transition-time, transform $transition-time $transition-time, opacity 0s $transition-time);

        &:before {
            top: 0;
            transform: rotate(-90deg);
        }

        &:after {
            bottom: 0;
            opacity: 0;
        }
    }
}