@use 'sass:map';

.navbar {
    --#{$prefix}navbar-border-width: #{$navbar-border-width};
    --#{$prefix}navbar-border-color: #{$navbar-border-color};
    --#{$prefix}navbar-bg: #{$navbar-bg};
    --#{$prefix}navbar-active-border-color: #{$primary};
    --#{$prefix}navbar-active-bg: rgba(0, 0, 0, 0.2);
    --#{$prefix}navbar-active-color: inherit;
    --#{$prefix}navbar-height: 3rem;

    background: var(--#{$prefix}navbar-bg);
    box-shadow: inset 0 calc(-1 * var(--#{$prefix}navbar-border-width)) 0 0 var(--#{$prefix}navbar-border-color);
    display: flex;
    align-items: center;
    min-height: var(--#{$prefix}navbar-height);

    .navbar-collapse & {
        flex-grow: 1;
    }
}

.navbar-expand {
    @each $breakpoint in map.keys($grid-breakpoints) {
        $next: breakpoint-next($breakpoint, $grid-breakpoints);
        $infix: breakpoint-infix($next, $grid-breakpoints);

        &#{$infix} {
            @include media-breakpoint-down(breakpoint-next($breakpoint)) {
                @include navbar-vertical-nav();
                [class^="container"], .navbar-collapse [class^="container"] {
                    --#{$prefix}gutter-x: var(--#{$prefix}spacer-2);
                }
            }

            @include media-breakpoint-up(breakpoint-next($breakpoint)) {
                .navbar-nav {
                    gap: #{$spacer * .25};
                }

                .nav-item.active {
                    position: relative;

                    &:after {
                        content: "";
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: calc(var(--#{$prefix}navbar-padding-y) * -1);
                        border: 0 var(--#{$prefix}border-style) var(--#{$prefix}primary);
                        border-bottom-width: 2px;
                    }
                }
            }
        }
    }
}

.navbar-nav {
    --#{$prefix}nav-link-hover-bg: var(--#{$prefix}hover-bg);

    margin: 0;
    padding: 0;
    align-items: stretch;

    .nav-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        user-select: none;
    }

    .nav-link {
        justify-content: center;
        min-width: 2.5rem;
        min-height: 2.5rem;
        border-radius: var(--#{$prefix}border-radius);
    }
}

.navbar-brand {
    --#{$prefix}navbar-brand-height: #{$navbar-brand-height};
    --#{$prefix}navbar-brand-gap: #{$spacer * .5};
    --#{$prefix}navbar-brand-font-weight: var(--#{$prefix}font-weight-bold);

    gap: var(--#{$prefix}navbar-brand-gap);
    height: var(--#{$prefix}navbar-brand-height);
    margin-top: calc((var(--#{$prefix}navbar-height) - var(--#{$prefix}navbar-brand-height) - var(--#{$prefix}navbar-padding-y)) * .25);
    margin-bottom: calc((var(--#{$prefix}navbar-height) - var(--#{$prefix}navbar-brand-height) - var(--#{$prefix}navbar-padding-y)) * .25);

    font-weight: var(--#{$prefix}navbar-brand-font-weight);
    display: inline-flex;
    align-items: center;
}

.navbar-brand-image {
    --#{$prefix}navbar-brand-height: #{$navbar-brand-height};
    height: var(--#{$prefix}navbar-brand-height);
    width: auto;
}

.navbar-toggler {
    --#{$prefix}toggler-size: #{$navbar-brand-height};

    border: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--#{$prefix}toggler-size);
    width: var(--#{$prefix}toggler-size);
}

.navbar-toggler-icon {
    height: 2px;
    width: 1.25em;
    background: currentColor;
    position: relative;

    @include transition(
        top $navbar-toggler-animation-time $navbar-toggler-animation-time,
        bottom $navbar-toggler-animation-time $navbar-toggler-animation-time,
        transform $navbar-toggler-animation-time,
        opacity 0s $navbar-toggler-animation-time
    );

    &:before,
    &:after {
        content: "";
        display: block;
        height: inherit;
        width: inherit;
        border-radius: inherit;
        background: inherit;
        position: absolute;
        left: 0;
        @include transition(inherit);
    }

    &:before {
        top: -0.45em;
    }

    &:after {
        bottom: -0.45em;
    }

    .navbar-toggler[aria-expanded="true"] & {
        transform: rotate(45deg);
        @include transition(top $transition-time, bottom $transition-time, transform $transition-time $transition-time, opacity 0s $transition-time);

        &:before {
            top: 0;
            transform: rotate(-90deg);
        }

        &:after {
            bottom: 0;
            opacity: 0;
        }
    }
}