.page {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100%;
}

.page-center {
    justify-content: center;
}

.page-header {
    --#{$prefix}page-header-margin-y: var(--#{$prefix}spacer-4);

    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: var(--#{$prefix}page-header-margin-y) 0;
    max-width: 100%;
}

.page-body {
    --#{$prefix}page-body-bottom-margin: var(--#{$prefix}spacer);

    margin-bottom: var(--#{$prefix}page-body-bottom-margin);

    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

.page-title {
    margin: 0;
    color: inherit;
    display: flex;
    align-items: center;

    font-size: var(--#{$prefix}font-size-xl);
    line-height: var(--#{$prefix}line-height-h2);
    font-weight: var(--#{$prefix}font-weight-headings);
}