:root, :host {
    height: 100%;

    --#{$prefix}font-sans-serif: #{$font-family-sans-serif};
    --#{$prefix}font-monospace: #{$font-family-monospace};

    --#{$prefix}spacer: #{$spacer};
    --#{$prefix}dark: #{$dark};
    --#{$prefix}light: #{$light};

    --#{$prefix}icon-size: #{$font-size-base * $line-height-base};
    --#{$prefix}icon-stroke-width: #{$icon-stroke-width};

    @each $name, $value in $gray-colors {
        --#{$prefix}#{$name}: #{$value};
    }

    @for $i from 0 through 12 {
        --#{$prefix}spacer-#{$i}: #{$spacer * $i * .25};
    }

    @each $name, $value in $font-sizes {
        --#{$prefix}font-size-#{$name}: #{$value};
    }

    @each $name, $value in $line-heights {
        --#{$prefix}line-height-#{$name}: #{$value};
    }

    @each $name, $value in $font-weights {
        --#{$prefix}font-weight-#{$name}: #{$value};
    }

    @each $name, $color in $theme-colors {
        --#{$prefix}#{$name}: #{$color};
        --#{$prefix}#{$name}-rgb: #{to-rgb($color)};
        --#{$prefix}#{$name}-fg: #{if(contrast-ratio($color) > $min-contrast-ratio, var(--#{$prefix}light), var(--#{$prefix}dark))};
        --#{$prefix}#{$name}-darken: color-mix(in oklab, var(--#{$prefix}#{$name}), #000 10%);
        --#{$prefix}#{$name}-darker: color-mix(in oklab, var(--#{$prefix}#{$name}), #000 20%);
    }
}

:focus-visible {
    outline: none;
}

::-ms-reveal,
::-ms-clear {
    display: none;
}