.sf-dump {
    font-family: $font-family-monospace !important;
    font-size: $font-size-base !important;
    border: 1px solid $pre-border-color !important;
    background-color: $pre-color !important;
    line-height: 1.5 !important;
    padding: var(--#{$prefix}spacer-2) !important;

    @include border-radius($border-radius);
}