@use 'sass:map';

.empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    height: 100%;
    padding: 1rem;
    text-align: center;
    gap: var(--#{$prefix}spacer-2);
}

.empty-icon {
    --#{$prefix}icon-size: 3rem;
    --#{$prefix}icon-stroke-width: 1;
}