@import "forms/form-captcha";
@import "forms/form-check";
@import "forms/form-code";
@import "forms/form-control";
@import "forms/form-date";
@import "forms/form-group";
@import "forms/form-group-layouts";
@import "forms/form-input-file";
@import "forms/form-input-group";
@import "forms/form-input-image";
@import "forms/form-input-ipv4";
@import "forms/form-input-toggle";
@import "forms/form-lines";
@import "forms/form-multi";
@import "forms/form-password";
@import "forms/form-range";
@import "forms/form-select";
@import "forms/form-separator";
@import "forms/form-token";