.container {
    @each $variation, $size in $container-variations {
        &-#{$variation} {
            @include make-container();
            max-width: $size;
        }
    }
}

.row {
    &>* {
        min-width: 0;
    }
}

.row-deck {
    > .col,
    > [class*="col-"] {
        display: flex;
        align-items: stretch;

        .card {
            flex: 1 1 auto;
        }
    }
}

.row-cards {
    --#{$prefix}gutter-x: #{$cards-grid-gap};
    --#{$prefix}gutter-y: #{$cards-grid-gap};
    min-width: 0;

    .row-cards {
        flex: 1;
    }
}
