.modal {
    &.loading-active {
        .modal-content {
            min-height: 12rem;

            &:before {
                @include absolute-pseudo();
                background-color: var(--#{$prefix}modal-bg);
                @include border-radius(var(--#{$prefix}modal-border-radius));
                z-index: 10;
            }

            &:after {
                @include absolute-pseudo();
                margin: 2rem auto;
                @include loader-comet(8rem, var(--#{$prefix}primary));
                position: absolute;
                z-index: 11;
            }
        }
    }
}

.modal-header {
    &>.btn-close {
        margin: 0 0 0 auto;
    }
}

.modal-title {
    font-size: var(--#{$prefix}font-size-md);
    font-weight: var(--#{$prefix}font-weight-bold);
    line-height: var(--#{$prefix}line-height-md);
}

.modal-body {
    position: relative;

    &>:last-child {
        margin-bottom: 0;
    }
}

.modal-footer {
    justify-content: space-between;
}

.modal-error-frame {
    display: block;
    vertical-align: bottom;
    width: 100%;
    height: 70vh;
}