.nav {
    --#{$prefix}nav-link-hover-bg: var(--#{$prefix}hover-bg);
}

.nav-vertical {
    flex-direction: column;
    flex-wrap: nowrap;
}

.nav-icons {
    --#{$prefix}nav-link-padding-x: var(--#{$prefix}nav-link-padding-y);
}

.nav-link {
    --#{$prefix}link-color: var(--#{$prefix}nav-link-color);
    --#{$prefix}link-hover-color: var(--#{$prefix}nav-link-hover-color);

    display: flex;
    align-items: center;
    user-select: none;

    &:focus, &:hover {
        background-color: $nav-link-hover-bg;
    }
}

.nav-bordered {
    gap: var(--#{$prefix}spacer);
    border-bottom: var(--#{$prefix}border-width) var(--#{$prefix}border-style) var(--#{$prefix}border-color);

    .nav-link {
        padding-left: 0;
        padding-right: 0;
        margin: 0 0 calc(-1 * var(--#{$prefix}border-width));
        border: 0;
        border-bottom: calc(2 * var(--#{$prefix}border-width)) var(--#{$prefix}border-style) transparent;

        &:hover {
            background-color: transparent;
        }
    }

    .nav-link.active,
    .nav-item.show .nav-link {
        color: var(--#{$prefix}primary);
        border-color: var(--#{$prefix}primary);
    }
}

.nav-tabs {
    .nav-link {
        &.nav-link-error, &.nav-link-error:hover, &.nav-link-error.active {
            --#{$prefix}nav-link-font-weight: var(--#{$prefix}font-weight-bold);

            color: var(--#{$prefix}danger);
            gap: var(--#{$prefix}spacer-2);

            &:before {
                content: "!";
                font-weight: bold;
                display: inline-block;
                color: var(--#{$prefix}danger);
                border: var(--#{$prefix}border-width) solid currentColor;
                border-radius: var(--#{$prefix}border-radius-pill);
                width: 1rem;
                height: 1rem;
                line-height: calc(1rem - 2 * var(--#{$prefix}border-width));
                vertical-align: middle;
                text-align: center;
                font-size: .75em;
            }
        }
    }
}

.nav-fill {
    .nav-item {
        .nav-link {
            justify-content: center;
        }
    }
}