.ribbon {
    --#{$prefix}ribbon-margin: #{$ribbon-margin};
    --#{$prefix}ribbon-border-radius: #{$ribbon-border-radius};
    --#{$prefix}ribbon-bg: var(--#{$prefix}primary);

    position: absolute;
    top: .75rem;
    right: calc(-1 * var(--#{$prefix}ribbon-margin));
    z-index: 1;
    padding: .25rem .75rem;
    font-size: $ribbon-font-size;
    font-weight: var(--#{$prefix}font-weight-bold);
    line-height: 1;
    color: $white;
    text-align: center;
    text-transform: uppercase;
    background: var(--#{$prefix}ribbon-bg);
    border-color: var(--#{$prefix}ribbon-bg);
    border-radius: var(--#{$prefix}ribbon-border-radius) 0 var(--#{$prefix}ribbon-border-radius) var(--#{$prefix}ribbon-border-radius);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-height: 2rem;
    min-width: 2rem;
    user-select: none;

    &:before {
        position: absolute;
        right: 0;
        bottom: 100%;
        width: 0;
        height: 0;
        content: "";
        filter: brightness(70%);
        border: calc(var(--#{$prefix}ribbon-margin) * .5) var(--#{$prefix}border-style);
        border-color: inherit;
        border-top-color: transparent;
        border-right-color: transparent;
    }
}

@each $color, $value in $theme-colors {
    .ribbon-#{$color} {
        --#{$prefix}ribbon-bg: color-mix(in oklab, var(--#{$prefix}#{$color}) var(--#{$prefix}theme-color-mix, 100%), #000);
    }
}

.ribbon-top {
    top: calc(-1 * var(--#{$prefix}ribbon-margin));
    right: .75rem;
    width: 2rem;
    padding: .5rem 0;
    border-radius: 0 var(--#{$prefix}ribbon-border-radius) var(--#{$prefix}ribbon-border-radius) var(--#{$prefix}ribbon-border-radius);

    &:before {
        top: 0;
        right: 100%;
        bottom: auto;
        border-color: inherit;
        border-top-color: transparent;
        border-left-color: transparent;
    }

    &.ribbon-start {
        right: auto;
        left: .75rem;

        &:before {
            top: 0;
            right: 100%;
            left: auto;
        }
    }
}

.ribbon-start {
    right: auto;
    left: calc(-1 * var(--#{$prefix}ribbon-margin));
    border-radius: 0 var(--#{$prefix}ribbon-border-radius) var(--#{$prefix}ribbon-border-radius) var(--#{$prefix}ribbon-border-radius);

    &:before {
        top: auto;
        bottom: 100%;
        left: 0;
        border-color: inherit;
        border-top-color: transparent;
        border-left-color: transparent;
    }
}

.ribbon-bottom {
    top: auto;
    bottom: .75rem;
}