a {
    cursor: pointer;
    text-decoration-skip-ink: auto;
    color: var(--#{$prefix}link-color);
    text-decoration: var(--#{$prefix}text-decoration, none) !important;

    &:hover {
        color: var(--#{$prefix}link-hover-color);
        text-decoration: var(--#{$prefix}text-decoration-hover, none) !important;
    }
}

button {
    text-decoration: var(--#{$prefix}text-decoration, none) !important;

    &:hover {
        text-decoration: var(--#{$prefix}text-decoration-hover, none) !important;
    }
}

.subheader {
    @include subheader(true, false);
}

kbd, .kbd {
    border: var(--#{$prefix}border-width) solid var(--#{$prefix}border-color);
    display: inline-block;
    box-sizing: border-box;
    max-width: 100%;
    line-height: 1;
    vertical-align: baseline;
}

@each $name, $font-size in $display-font-sizes {
    .fs-#{$name} {
        @include font-size($font-size);
    }
}