a {
    cursor: pointer;
    text-decoration-skip-ink: auto;
    color: var(--#{$prefix}link-color);
    text-decoration: var(--#{$prefix}text-decoration, none) !important;

    &:hover {
        color: var(--#{$prefix}link-hover-color);
        text-decoration: var(--#{$prefix}text-decoration-hover, none) !important;
    }
}

button {
    text-decoration: var(--#{$prefix}text-decoration, none) !important;

    &:hover {
        text-decoration: var(--#{$prefix}text-decoration-hover, none) !important;
    }
}

.subheader {
    @include subheader(true, false);
}

kbd, .kbd {
    border: var(--#{$prefix}border-width) solid var(--#{$prefix}border-color);
    display: inline-block;
    box-sizing: border-box;
    max-width: 100%;
    line-height: 1;
    vertical-align: baseline;
}

.mention {
    display: inline-flex;
    align-items: baseline;
    gap: var(--#{$prefix}spacer-1);
    box-shadow: var(--#{$prefix}shadow-border);
    border-radius: var(--#{$prefix}border-radius-pill);
    font-weight: var(--#{$prefix}font-weight-medium);
    line-height: 1em;
    color: var(--#{$prefix}body-color);
    padding: var(--#{$prefix}spacer-1) var(--#{$prefix}spacer-2);
    margin: calc(var(--#{$prefix}spacer-1) * -1) 0;
    background-color: var(--#{$prefix}bg-surface-tertiary);
    white-space: nowrap;

    .icon {
        --#{$prefix}icon-size: 1em;
    }

    @at-root a#{&} {
        --#{$prefix}text-decoration-hover: underline;
        cursor: pointer;
    }
}

.mention-app,
.mention-avatar,
.mention-color {
    width: 1em;
    height: 1em;
    border-radius: var(--#{$prefix}border-radius-pill);
    box-shadow: var(--#{$prefix}shadow-border);
    margin-left: calc(var(--#{$prefix}spacer-1) * -1);
    background-position: center center;
    background-size: 100%;
    align-self: center;
}

.mention-app {
    box-shadow: none;
    margin-left: 0;
}

.mention-avatar {
    --#{$prefix}avatar-size: 1em;
}

@each $name, $font-size in $display-font-sizes {
    .fs-#{$name} {
        @include font-size($font-size);
    }
}