.form-date {
    display: flex;
    gap: $spacer;
    align-items: center;

    &>select {
        flex: 1 1 0px;
    }
}

.gui-control-datepicker {
    --#{$prefix}dp-bg: #{$gui-dp-bg};
    --#{$prefix}dp-border-color: #{$gui-dp-border-color};
    --#{$prefix}dp-border-radius: #{$gui-dp-border-radius};
    --#{$prefix}dp-border-width: #{$gui-dp-border-width};
    --#{$prefix}dp-box-shadow: #{$gui-dp-box-shadow};
    --#{$prefix}dp-margin-top: #{$gui-dp-margin-top};

    --#{$prefix}dp-link-color: #{$gui-dp-link-color};
    --#{$prefix}dp-link-hover-bg: #{$gui-dp-link-hover-bg};
    --#{$prefix}dp-link-hover-color: #{$gui-dp-link-hover-color};
    --#{$prefix}dp-link-outer-color: #{$gui-dp-link-outer-color};
    --#{$prefix}dp-link-outer-hover-bg: #{$gui-dp-link-outer-hover-bg};
    --#{$prefix}dp-link-outer-hover-color: #{$gui-dp-link-outer-hover-color};
    --#{$prefix}dp-link-disabled-color: #{$gui-dp-link-disabled-color};

    --#{$prefix}dp-padding: #{$gui-dp-padding};
    --#{$prefix}dp-line-height: #{$gui-dp-line-height};
    --#{$prefix}dp-grid-columns: #{$gui-dp-grid-columns};
    --#{$prefix}dp-grid-gap: #{$gui-dp-grid-gap};

    $dp-grid-column-7: repeat(var(--#{$prefix}dp-grid-columns), 1fr);
    $dp-grid-column-5: repeat(5, 1fr);
    $dp-grid-column-4: repeat(4, 1fr);
    $dp-grid-column-3: repeat(3, 1fr);

    .dp-menu {
        background-color: var(--#{$prefix}dp-bg);
        background-clip: padding-box;
        border: var(--#{$prefix}dp-border-width) solid var(--#{$prefix}dp-border-color);
        padding: var(--#{$prefix}dp-padding);
        line-height: var(--#{$prefix}dp-line-height);
        display: none;
        text-align: center;
        user-select: none;
        z-index: $zindex-popover;

        flex-direction: column;
        gap: var(--#{$prefix}dp-grid-gap);

        @include border-radius(var(--#{$prefix}dp-border-radius));

        &:not(.inline){
            margin-top: var(--#{$prefix}dp-margin-top);
            @include box-shadow(var(--#{$prefix}dp-box-shadow));
            position: absolute;
        }
    }

    a {
        text-decoration: none;
        position: relative;
        padding-top: $gui-dp-item-width * .25;
        padding-bottom: $gui-dp-item-width * .25;
        max-height: $gui-dp-item-width;
        color: var(--#{$prefix}dp-link-color);

        @include border-radius(var(--#{$prefix}dp-border-radius));

        &.disabled {
            pointer-events: none;
            color: var(--#{$prefix}dp-link-disabled-color);
        }

        &:hover {
            color: var(--#{$prefix}dp-link-hover-color);
            background-color: var(--#{$prefix}dp-link-hover-bg);
            cursor: pointer;
        }

        &.next:not(.disabled),
        &.prev:not(.disabled) {
            color: var(--#{$prefix}dp-link-outer-color);

            &:hover {
                color: var(--#{$prefix}dp-link-outer-hover-color);
                background-color: var(--#{$prefix}dp-link-outer-hover-bg);
            }
        }

        &.active {
            &:not(.next):not(.prev){
                color: var(--#{$prefix}dp-link-hover-color);
                background-color: var(--#{$prefix}dp-link-hover-bg);
            }
        }

        &.today {
            &:after {
                font: var(--#{$fa-css-prefix}-font-solid);
                content: fa-content($fa-var-caret-down);
                position: absolute;
                display: inline-block;
                bottom: 0;
                right: 0;
                width: 1.2em;
                transform: rotate(-45deg);
            }
        }
    }

    .dp-heading {
        display: flex;
        align-items: center;

        .dp-title {
            text-align: center;
        }

        .dp-next,
        .dp-prev {
            width: $gui-dp-item-width;

            i {
                line-height: var(--#{$prefix}dp-line-height);
            }
        }

        .dp-title {
            flex-grow: 1;
            font-weight: bold;
        }
    }

    .dp-footer {
        display: flex;

        .dp-today,
        .dp-clear {
            font-weight: bold;
            flex: 1 1 0px;
        }
    }

    .dp-content {
        width: $gui-dp-item-width * 7;

        &>div {
            display: grid;
            grid-template-columns: repeat(var(--#{$prefix}dp-grid-columns), 1fr);
            grid-gap: var(--#{$prefix}dp-grid-gap);

            &.hours,
            &.minutes {
                --#{$prefix}dp-grid-columns: 4;
            }

            &.years {
                --#{$prefix}dp-grid-columns: 5;
            }

            &.months {
                --#{$prefix}dp-grid-columns: 3;
            }
        }

        .weekdays {
            font-weight: bold;
            padding-top: $gui-dp-item-width * .15;
            padding-bottom: $gui-dp-item-width * .15;
        }
    }
}