.gui-control-image {
    display: inline-flex;
    flex-direction: column;
    vertical-align: top;
    gap: $spacer * .5;

    .thumbnail {
        border: $border-width solid $border-color;
        background-color: $input-group-addon-bg;
        background-position: center center;
        background-size: contain;
        overflow: hidden;
        padding: $spacer * .5;
        display: flex;
        flex-direction: column;
        justify-content: end;

        @include border-radius($input-border-radius);

        &.loading {
            @include content-loading('circle', true, 5rem);
            pointer-events: none;

            --#{$prefix}loading-bg: rgba(0, 0, 0, .60);
            --#{$prefix}loading-border-radius: none;
        }

        .control {
            display: none;
            justify-content: space-between;

            a {
                color: $gui-text-white;
                display: inline-block;
                background-color: rgba(0,0,0,.5);
                padding: $btn-padding-y $btn-padding-x;

                @include border-radius($input-border-radius);

                &:hover {
                    background-color: rgba(0,0,0,1);
                }
            }
        }

        &:hover {
            .control {
                display: flex;
            }
        }
    }

    .size-display {
        text-align: center;
        line-height: 1.2em;
    }
}

.cropper-container {
    overflow: hidden;
}

.gui-cropper-image {
    max-width: 100%;
    display: block;
    visibility: hidden;
    max-height: calc(100vh - 225px);
}