fieldset {
    border: var(--#{$prefix}border-width) solid var(--#{$prefix}light-border-color);
    border-radius: var(--#{$prefix}border-radius);
    padding: 1.4rem 1.5rem 1rem 1rem;
    width: 100%;

    legend {
        background-color: var(--#{$prefix}card-bg);
        font-size: var(--#{$prefix}body-font-size);
        color: var(--#{$prefix}gray-500);
        text-transform: uppercase;
        position: absolute;
        width: auto;
        margin-top: -2rem;
        margin-left: -.5rem;
        padding: 0 .5rem;
    }
}