.form-control {
    --#{$prefix}form-control-bg: #{$input-bg};
    --#{$prefix}form-control-color: #{$input-color};
    --#{$prefix}form-control-border-color: #{$input-border-color};

    --#{$prefix}form-control-focus-bg: #{$input-focus-bg};
    --#{$prefix}form-control-focus-color: #{$input-focus-color};
    --#{$prefix}form-control-focus-border-color: #{$input-focus-border-color};

    --#{$prefix}form-control-disabled-bg: #{$input-disabled-bg};
    --#{$prefix}form-control-disabled-color: #{$input-disabled-color};
    --#{$prefix}form-control-disabled-border-color: #{$input-disabled-border-color};

    color: var(--#{$prefix}form-control-color);
    background-color: var(--#{$prefix}form-control-bg);
    border-color: var(--#{$prefix}form-control-border-color);

    &:focus {
        color: var(--#{$prefix}form-control-focus-color);
        background-color: var(--#{$prefix}form-control-focus-bg);
        border-color: var(--#{$prefix}form-control-focus-border-color);
    }

    &:disabled {
        color: var(--#{$prefix}form-control-disabled-color);
        background-color: var(--#{$prefix}form-control-disabled-bg);
        border-color: var(--#{$prefix}form-control-disabled-border-color);
    }

    &:focus:disabled,
    &:focus[readonly] {
        box-shadow: none;
        border-color: var(--#{$prefix}form-control-border-color);
    }

    &[readonly] {
        @extend :disabled;
    }
}