form-group.vertical {
    --#{$prefix}form-label-text-align: left;
    --#{$prefix}form-group-spacer-y: 1rem;
    --#{$prefix}form-label-top-margin: 0;
    --#{$prefix}form-label-bottom-margin: .5rem;

    @include media-breakpoint-up($gui-form-breakpoint) {
        &:not(.bordered) {
            --#{$prefix}form-group-border-width: 0;
            --#{$prefix}form-group-spacer-y: .5rem;
        }
    }

    display: block;

    .control-label,
    .control-field {
        padding-left: 0;
        padding-right: 0;
    }

    .control-label {
        width: auto;
        label {
            margin-top: 0;
        }
    }

    .control-field {
        --#{$prefix}form-group-border-style: none;
    }
}