.gui-control-ipv4 {
    display: flex;
    align-items: center;

    .separator {
        @extend .font-monospace;
        user-select: none;
        cursor: text;
    }

    .ip-part {
        flex: 1 1 0px;
        min-width: 0;
        text-align: center;
        margin: 0;
        padding: 0;
        border: none;
        outline: none;
        background-color: transparent;
        color: inherit;
    }

    &:focus-within {
        @extend .form-control:focus;
    }

    &[disabled],
    &[readonly] {
        background-color: $input-disabled-bg;
        color: $input-disabled-color;
    }
}