.gui-control-code {
    display: flex;
    gap: $spacer * .5;
    align-items: center;

    .form-control {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        max-width: 2rem;
    }
}