.gui-control-file {
    input[type=file] {
        display: none;

        &:not(.disabled):not([readonly]) ~ .input-group > input[type=text]{
            background-color: $input-bg;
            color: $input-color;

            @include input-focus();
        }
    }
}