.gui-control-spin {
    .btn-group-vertical {
        gap: 1px;

        &>.btn {


            --#{$prefix}btn-padding-x: #{$btn-padding-x * .5};
            --#{$prefix}btn-padding-y: 0;
            --#{$prefix}btn-line-height: 1;

            i {
                font-size: .625rem;

                display: inline-flex;
                align-items: center;
                height: .375rem
            }

            &:first-child {
                @include border-start-radius(0);
            }

            &:last-child {
                @include border-bottom-start-radius(0);
            }
        }
    }

    input {
        text-align: center;

        &:disabled,
        &[readonly] {
            &+.btn-group-vertical {
                &>.btn {
                    @extend :disabled;
                }
            }
        }
    }

    &:focus-within {
        input:not(:disabled),
        input:not([readonly]) {
            @extend .form-control:focus;
            z-index: 5;
        }
    }
}