.popover.password-generator {
    --#{$prefix}popover-max-width: auto;
}

.gui-password-generator-template {
    display: none;
}

.gui-password-generator {
    display: flex;
    flex-direction: column;
    gap: $grid-gutter-width * .25;

    .measure,
    .password-display {
        text-align: center;
        font-weight: bold;
        height: 2.5rem;
        @extend .font-monospace;
    }

    .measure {
        position: absolute;
        white-space: nowrap;
    }

    .password-display {
        cursor: pointer;
        color: $body-color;
    }

    .password-size {
        display: flex;
        align-items: center;

        .gui-input-range {
            flex-grow: 1;
            margin-left: $spacer * .5;
            margin-right: $spacer * .5;
        }
    }

    .control {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: var(--#{$prefix}popover-body-padding-y);
    }
}