.gui-input-range {
    --#{$prefix}active-bg: #{$form-range-thumb-bg};

    display: flex;
    align-items: center;
    position: relative;
    line-height: 0;

    &.disabled {
        --#{$prefix}active-bg: #{$form-range-thumb-disabled-bg};
    }

    .range-tooltip {
        --#{$prefix}tooltip-bg: var(--#{$prefix}active-bg);

        position: absolute;
        user-select: none;
        white-space: nowrap;
        opacity: 1;

        transform: scale(0);
        transform-origin: bottom;
        transition: transform 0.2s ease-in-out;

        .tooltip-arrow {
            bottom: 0;
            position: absolute;
            left: calc(50% - (var(--#{$prefix}tooltip-arrow-width) * .5));
        }
    }

    input {
        flex-grow: 1;

        &.active + .range-tooltip,
        &:active + .range-tooltip {
            transform: scale(1);
        }

        &.show-progress {
            position: relative;
            z-index: 2;

            &::-webkit-slider-runnable-track {
                background-color: transparent;
                @include box-shadow(none);
            }

            &::-moz-range-track {
                background-color: transparent;
                @include box-shadow(none);
            }
        }

        &[readonly] {
            @extend :disabled;
        }
    }

    .range-progress,
    .range-track {
        position: absolute;
        height: $form-range-track-height;
        top: $form-range-thumb-height * .5;
        user-select: none;

        @include border-radius($form-range-track-border-radius);
    }

    .range-track {
        width: 100%;
        z-index: 0;
        background-color: $form-range-track-bg;

        @include border-radius($form-range-track-border-radius);
        @include box-shadow($form-range-track-box-shadow);
    }

    .range-progress {
        background-color: var(--#{$prefix}active-bg);
        z-index: 1;
    }
}

form-group .gui-input-range {
    margin-top: .25rem;
    margin-bottom: .25rem;
}