.gui-control-multi {

    a[data-trigger=add] {
        margin-top: $spacer;
    }

    a[data-trigger=move] {
        cursor: grab;
    }

    table {
        width: 100%;
        border-collapse: collapse;

        thead {
            background-color: $gui-form-checklist-heading-bg;
            border-bottom: $gui-form-checklist-border-width solid $gui-form-checklist-border-color;

            th {
                padding: ($tooltip-padding-y * 1.5) $tooltip-padding-x;
                vertical-align: middle;
                font-weight: normal;
            }
        }

        tbody {
            tr {
                &:nth-of-type(even){
                    background-color: $table-striped-bg;
                }

                &:not(:last-of-type){
                    td {
                        border-bottom: $gui-form-checklist-border-width solid $gui-form-checklist-border-color;
                    }
                }

                td {
                    padding: $spacer * .5 $spacer * .25;
                    vertical-align: top;

                    &:first-child,
                    &.d-none + :not(.d-none) {
                        padding-left: $spacer * .5;
                    }

                    &:first-of-type {
                        padding-left: $spacer * .5;
                    }

                    &:last-child {
                        padding-right: $spacer * .5;
                    }

                    &.control {
                        padding-top: calc(#{$spacer * .5} + 1px);
                    }
                }
            }
        }
    }

    .mf-content {
        border: $gui-form-checklist-border-width solid $gui-form-checklist-border-color;
        overflow: hidden;
        @include border-radius($input-border-radius);
    }

    .control {
        width: 1%;
        white-space: nowrap;
        user-select: none;
    }
}