form-group.vertical.floating {
    --#{$prefix}form-label-bottom-margin: .25rem;
    --#{$prefix}form-group-border-width: 0;
    --#{$prefix}form-group-spacer-y: .5rem;

    .control-label {
        position: absolute;
        user-select: none;
        z-index: 20;
        padding: .375rem 0 0 .75rem;
    }

    .form-control {
        padding-top: 1.5rem;
    }
}