.input-group {
    &>.form-select {
        flex-shrink: 1;
        flex-grow: 0;
        width: auto;
    }

    &>.btn {
        --gui-btn-padding-x: .5rem;

        display: flex;
        align-items: center;

        &:hover {
            z-index: 10;
        }

        &>i {
            width: $fa-fw-width;
        }
    }

    &.no-borders {
        @include border-radius($input-border-radius, 0);

        &>.form-control,
        &>.form-select {
            &:focus {
                box-shadow: none;
            }
        }

        &>.input-group-text {
            user-select: none;
            background-color: $input-bg;
            color: shift-color($input-group-addon-color, if($gui-theme == light, -50, 30));
        }

        &>:not(:first-child):not(.dropdown-toggle):not(.dropdown-menu) {
            border-left: 0 !important;
            &:is(.form-control) {
                padding-left: 0;
            }
        }

        &>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
            border-right: 0 !important;
            &:is(.form-control) {
                padding-right: 0;
            }
        }

        &>:is(.input-group-text:last-child) {
            padding-left: $input-group-addon-padding-x * .5;
        }

        &>:is(.input-group-text:first-child) {
            padding-right: $input-group-addon-padding-x * .5;
        }

        &:focus-within {
            @include box-shadow($input-box-shadow, $input-focus-box-shadow);

            &>* {
                background-color: $input-focus-bg;
            }
        }
    }
}

.has-error {
    .input-group.no-borders {
        &>.input-group-text,
        &>.form-select {
            border-color: $form-feedback-invalid-color;
        }
    }
}