@mixin navbar-vertical-nav {
    .navbar-collapse {
        flex-direction: column;

        [class^="container"] {
            flex-direction: column;
            align-items: stretch;
        }

        .navbar-nav {
            margin-left: 0;
            margin-right: 0;

            .nav-link {
                padding: .5rem;
                justify-content: flex-start;
                border-radius: 0;
            }
        }

        .dropdown-menu-columns {
            flex-direction: column;
        }

        .dropdown-menu {
            padding: 0;
            background: transparent;
            position: static;
            color: inherit;
            box-shadow: none;
            border: none;
            min-width: 0;
            margin: 0;

            &.dropdown-menu-arrow:before {
                display: none;
            }

            .dropdown-item {
                min-width: 0;
                display: flex;
                width: auto;
                padding-left: add(.5rem, 1.75rem);
                color: inherit;

                &.disabled {
                    color: var(--#{$prefix}disabled-color);
                    pointer-events: none;
                    background-color: transparent;
                }

                &.active,
                &:active {
                    background: var(--#{$prefix}dropdown-link-active-bg);
                    color: var(--#{$prefix}dropdown-link-active-color);
                }
            }

            .dropdown-menu-columns {
                gap: 0;
            }

            .dropdown-menu .dropdown-item {
                padding-left: add(calc(#{$container-padding-x} / 2), 3.25rem);
            }

            .dropdown-menu .dropdown-menu .dropdown-item {
                padding-left: add(calc(#{$container-padding-x} / 2), 4.75rem);
            }
        }

        .dropdown-toggle:after {
            margin-left: auto;
        }
    }
}