@use 'sass:color';
@use 'sass:math';

/**
 * Converts a given value to a percentage string.
 *
 * @param {Number} $value - The value to be converted to a percentage.
 * @return {String} - The percentage representation of the value.
 */
@function to-percentage($value) {
    @return if(math.is-unitless($value), math.percentage($value), $value);
}

/**
 * Generates a transparent version of the given color.
 *
 * @param {Color} $color - The base color to be made transparent.
 * @param {Number} $alpha - The level of transparency, ranging from 0 (fully transparent) to 1 (fully opaque). Default is 1.
 * @return {Color} - The resulting color with the specified transparency.
 */
@function color-transparent($color, $alpha: 1, $background: transparent) {
    @if $alpha == 1 {
        @return $color;
    } @else {
        @return color-mix(in srgb, #{$color} #{to-percentage($alpha)}, $background);
    }
}