$utilities: (
    "cursor": (
        property: cursor,
        class: cursor,
        values: (
            auto: auto,
            pointer: pointer,
            move: move,
            not-allowed: not-allowed,
            zoom-in: zoom-in,
            zoom-out: zoom-out,
            default: default,
            none: none,
            help: help,
            progress: progress,
            wait: wait,
            text: text,
            v-text: vertical-text,
            grab: grab,
            grabbing: grabbing,
            crosshair: crosshair,
        ),
    ),
    "color": (
        property: color,
        class: text,
        local-vars: (
            "text-opacity": 1
        ),
        values: (
            "tertiary": var(--#{$prefix}tertiary)
        )
    ),
    "border-style": (
        property: border-style,
        class: border,
        responsive: true,
        values: (
            solid: solid,
            dashed: dashed,
            dotted: dotted,
            double: double,
            none: none,
        ),
    )
) !default;